<div ng-include="'views/adminMenu.html'"></div>

<div class="row p-1">
	<div class="col-md-3 mt-5" >			
		<div class="input-group">
			<input type="text" class="form-control form-control-sm" ng-model="search.nome" placeholder="Nome">
			<div class="input-group-append">				
				<button type="button" class="btn btn-outline-success" ng-click="ordenarPor = 'nome';direcao = !direcao">
					<i class="fas fa-sort"></i>
				</button>
			</div>
		</div>
		<div style="overflow-y: auto; max-height: 70%">
			<div class="list-group" >
				<a ng-repeat="planta in plantas| filter:search|orderBy:ordenarPor:direcao"  class="list-group-item d-flex justify-content-between list-group-item-action align-items-center" ng-click="editarPlanta(planta.planta_id)">
					<span ng-bind="planta.nome"></span>
					<i ng-show="planta.perfil == '2'" class="fas fa-user-tie fa-2x"></i>
					<i ng-show="planta.perfil == '3'" class="fas fa-user-secret fa-2x"></i>
				</a>
			</div>
		</div>
	</div>	
	<div class="col-md-9 p-3">
		<div ng-include="'views/alertaAlteracao.html'" ng-if="userLogin.perfil == 1"></div>
		<h3 class="text-center">Plantas
			<button type="button" class="btn btn-outline-success" ng-click="incluirPlanta()">
				<i class="fas fa-plus"></i> 
			</button>
		</h3>
		<hr>
		<div class="box-shadow">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="text-center">
						<img ng-src="{{plantaImg}}" class="rounded" alt="Foto da planta" style="max-width: 100%;">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 form-group">
					<form class="row align-items-end">
						<div class="col-md-10">
							<div class="form-group">
								<label for="myFileField">Foto da planta: </label>
								<input type="file" file-model="myFile"  class="form-control form-control-sm" id ="myFileField"/>							
							</div>
						</div>
						<div class="col-md-2">
							<div class="row pb-3">
								<button ng-click="uploadFile()" class="btn btn-outline-success">Enviar Foto <i class="far fa-paper-plane"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<hr>
			<div class="row">				
				<div class="col-md-6 form-group">					
					<label for="InputNome">Nome: *</label>
					<div class="input-group">
						<input type="text" class="form-control" id="InputNome" ng-readonly="planta.planta_id" placeholder="Nome" ng-model="planta.nome" required ng-minlength="5" maxlength="60">					
						<div class="input-group-append" ng-show="planta.planta_id">
							<button class="btn btn-outline-secondary" type="button" ng-click="editarNomes()">
								<i class="fas fa-list"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 form-check align-self-center">					
					<input type="checkbox" class="form-check-input" id="ativo" ng-true-value="'1'" ng-false-value="'0'" ng-model="planta.status" >
					<label class="form-check-label" for="ativo">Planta Ativo</label>
				</div>
				<div class="col-md-12 form-group">
					<label for="textResumo">Resumo: *</label>
					<textarea class="form-control" id="textResumo" rows="2" ng-model="planta.descricao_resumida" ng-minlength="5" maxlength="170" placeholder="Principais caracteristicas, região onde é cultivada..."></textarea>				
				</div>            
				<div class="col-md-12 form-group">
					<label for="textDescricao">Descrição completa: *</label>
					<textarea class="form-control" id="textDescricao" rows="5" ng-model="planta.descricao_completa" ng-minlength="5" maxlength="250" placeholder="Demais caracteristicas..."></textarea>				
				</div>     
			</div>		
			<div class="row justify-content-center pb-5">
				<div class="col-md-3">
					<button type="submit" ng-click="salvarPlanta()" ng-disabled="!planta.nome || !planta.descricao_resumida || !planta.descricao_completa" class="btn btn-success btn-block">Salvar <i class="far fa-save"></i> </button>
				</div>						
			</div>			
		</div>
	</div>
</div>
<div ng-include="'views/goBack.html'"></div>
<div ng-include="'views/modalError.html'"></div>
<div ng-include="'views/modalPlantaNomes.html'"></div>