<div class="estrelas">                                      
        <label for="cm_star-1"><i class="fa fa-star fa-2x"></i></label>
        <input type="radio" id="cm_star-1" name="fb" ng-value="1" ng-model="planta.classificacao" ng-click="classificar()"/>
        <label for="cm_star-2"><i class="fa fa-star fa-2x"></i></label>
        <input type="radio" id="cm_star-2" name="fb" ng-value="2" ng-model="planta.classificacao" ng-click="classificar()"/>
        <label for="cm_star-3"><i class="fa fa-star fa-2x"></i></label>
        <input type="radio" id="cm_star-3" name="fb" ng-value="3" ng-model="planta.classificacao" ng-click="classificar()"/>
        <label for="cm_star-4"><i class="fa fa-star fa-2x"></i></label>
        <input type="radio" id="cm_star-4" name="fb" ng-value="4" ng-model="planta.classificacao" ng-click="classificar()"/>
        <label for="cm_star-5"><i class="fa fa-star fa-2x"></i></label>
        <input type="radio" id="cm_star-5" name="fb" ng-value="5" ng-model="planta.classificacao" ng-click="classificar()"/>                                    
</div>